.logo-sipv {
  margin-top: 1em;
  margin-left: 1em;
  width: 10em;
}

.App-header {
  height: 7em;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 2px rgb(185, 185, 185);
}

.formulaire {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30em;
  height: 20em;
  border-radius: 0.4em 0.4em 0.2em 0.2em;
  box-shadow: 0px 0px 5px 2px rgb(185, 185, 185);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
}

h1 {
  background-color: #009a54;
  border-radius: 0.2em 0.2em 0em 0em;
  margin-top: 0px;
  color: white;
  padding-left: 5px;
}

.formulaire-component {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

label {
  margin-bottom: 1em;
  display: inline-block;
  width: 10em;
}

input {}